Package: com.darkshuper.mcpetestmod
Name: MCPETestMod
Depends: mobilesubstrate
Version: 0.16.2-0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: DarkShuper
Author: DarkShuper
Section: Tweaks
